{% extends 'base.html.twig' %}

{% block title %}
    Détails de l'événement
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Détails de l'événement</h1>

        <div class="row mt-4">
            <!-- Informations principales de l'événement -->
            <div class="col-md-6">
                <h2>Informations générales</h2>
                <p><strong>Nom :</strong> {{ event.name }}</p>
                <p><strong>Date :</strong> {{ event.date|date('d/m/Y H:i') }}</p>
                <p><strong>Lieu :</strong> {{ event.city }}</p>
            </div>

            <!-- Liste des participants -->
            <div class="col-md-6">
                <h2>Participants</h2>
                {% if event.participants|length > 0 %}
                    <p>Nombre de participants : {{ event.participants|length }}</p>
                        {% for participant in event.participants %}
                            <p>{{ participant.name }} à {{ participant.distanceToEvent|round(2, 'floor') }} km de l'événement</p>
                        {% endfor %}
                {% else %}
                    <p>Aucun participant pour cet événement.</p>
                {% endif %}
            </div>
        </div>

        <!-- Actions -->
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="{{ path('homepage') }}" class="btn btn-secondary">Retour à la liste</a>
                <a href="{{ path('addParticipant', { 'eventId': event.id }) }}" class="btn btn-secondary">S'inscrire</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Page Détails de l\'événement chargée.');
        });
    </script>
{% endblock %}
