{% extends 'base.html.twig' %}

{% block title %}
    Modification du participant {{ participant.name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #calendar {
            max-width: 90%;
            max-height: 90%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row m-auto text-center">
        <div class="col-md-12">

            {{ form_start(form, { 'attr': {'class': 'participant-form'} }) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        {{ form_row(form.event) }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Confirmer la réservation</button>
            {{ form_end(form) }}

            <a href="{{ path('homepage') }}" class="btn btn-secondary mt-3">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            flatpickr('.date-picker', {
                locale: 'fr',
                minDate: 'today',
            });
        });
    </script>
{% endblock %}
