{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Liste des Evenements</h1>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 mb-4">
                <table id="tableEvents" class="table-responsive table-borderless">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>city</th>
                        <th>Participants</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.id }}</td>
                            <td>{{ event.name }}</td>
                            <td>{{ event.date|date('d-m-Y') }}</td>
                            <td>{{ event.city }}</td>
                            <td>{{ event.participants.name|join(' , ') }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{{ path('viewEvent', { 'id': event.id }) }}">
                                    Inspecter <i class="bi bi-search"></i>
                                </a>
{#                                {% if app.user is_granted('ROLE_ADMIN') %}#}
{#                                <a class="btn btn-info btn-sm" href="{{ path('edit_event', { 'id': event.id }) }}">#}
{#                                    Éditer <i class="bi bi-pencil"></i>#}
{#                                </a>#}
{#                                {% endif %}#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('page loaded');

            $('#tableEvents').DataTable( {
                locale: 'fr'
            });
        });
    </script>
{% endblock %}