{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <h1 style="text-align: center">{{ message }}</h1>

    <div class="container mt-4">
        <div class="row">
            {% for event in events %}
                <div class="col-md-4 mb-4 service-card {{ event.name|lower|replace({' ': '-'}) }}">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <i class="bi bi-back display-4 my-3"></i>
                            <p class="card-text"></p>
                            <a href="{{ path('viewEvent', {'id': event.id}) }}" class="btn btn-primary">Voir Détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready(function() {
            // Fonction pour filtrer les cartes de services
            $('.service-item').click(function(e) {
                e.preventDefault();
                let serviceClass = $(this).text().toLowerCase().replace(/ /g, '-');
                console.log(serviceClass)
                $('.service-card').hide();
                $('.' + serviceClass).show();
            });

            $('.service-card').show();
        });
    </script>
{% endblock %}