{% extends 'base.html.twig' %}

{% block title %}Modifier le Service {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Modifier le Service : {{ service.name }}</h1>

        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.description) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.price) }}
        </div>
        <button type="submit" class="btn btn-warning">Modifier le Service</button>
        {{ form_end(form) }}

        <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary mt-2">Retour au tableau de bord</a>
    </div>
{% endblock %}
